---
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
---

<Layout>
	<Nav />
	<main class="w-full sm:w-9/12">
		<Hero />
		<Experience />
		<Skills />
	</main>
</Layout>
