---
---

<section class="my-10 mt-32">
    <h4 class="text-xl font-medium text-center text-brandOrange sm:text-3xl">Hi, I'm Riandrei Casañas</h4>
    <h1 class="text-3xl font-bold text-center my-4 whitespace-pre-wrap sm:text-6xl">Crafting functional,
beautiful, and user-friendly
websites.
    </h1>
    <ul class="flex items-center justify-center gap-4 mt-6 sm:mt-8">
        <li><a href="https://linkedin.com/in/riandrei" target="_blank"><img class="sm:w-8" src="./linkedin.svg" alt="linkedin icon"/></a></li>
        <li><a href="https://github.com/riandrei" target="_blank"><img class="sm:w-8" src="./github.svg" alt="github icon"/></a></li>
        <li><a href="mailto:riandrei.casanas@gmail.com" target="_blank"><img class="sm:w-8" src="./mail.svg" alt="mail icon"/></a></li>
    </ul>
</section>