---
import { getCollection } from "astro:content";

const skills = await getCollection('skills', ({ data }: { data: any }) => {
	return !data.inProgress;
});

const sortedSkills = skills.sort((a, b) => a.data.order - b.data.order);
---

<section id="skills" class="p-8">
    <h2 class="text-brandOrange text-2xl sm:text-4xl font-bold">Skills</h2>
    <div class="flex gap-4 flex-wrap items-center justify-center my-4">
        {sortedSkills.map((skill: any) => (
            <div class="border-4 border-brandOrange rounded-3xl p-8 max-w-lg">
                <h6 class="text-xl font-semibold">{skill.data.area}</h6>
                <p>{skill.data.description}</p>
                <ul class="flex flex-wrap gap-6 items-center text-center my-4">
                    {skill.data.tech?.map((tech: any) => (
                        <li class="flex flex-col items-center justify-center">
                            <img src={tech.image} alt="">
                            <p>{tech.name}</p>
                        </li>
                    ))}
                </ul>
            </div>
        ))}
    </div>
</section>