<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="./src/assets/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<title>Riandrei Casañas</title>
	<body class="flex flex-col items-center bg-brandWhite">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-padding-top: 70px;
		scroll-behavior: smooth;
	}
</style>
